* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: aqua;
    height: 100%;
}

header{
    height: 5%;
    width: 100%;
    background-color: darkgray;
}

main {
    height: 90%;
    width: 100%;
    background-color: whitesmoke;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    height: 5%;
    width: 100%;
    background-color: darkgray;
}

h1 {
    text-align: center;
}

h2, h3, p {
    margin-bottom: 5px;
}

.game-area {
    width: 80%;
    flex: 0 0 80%;
}

.rules {
    width: 20%;
    flex: 0 0 20%;
    border: 0px red solid;
}

.actual-standard-game button {
    width: 50px;
    height: 50px;
    border: none;
    transition: 50ms;
    text-align: center;
}

.actual-standard-game button:hover {
    transform: scale(1.2);
}

.scoreboard {
    position: relative;
    display: flex;
    width: 100%;
}

.scoreboard div {
    width: 200px;
    margin: 0 auto;
}

.messageboard {
    width: 100%;
    text-align: center;
}