@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Nunito:wght@200&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: aqua;
    height: 100%;
    font-family: "Nunito", sans-serif;
}

header{
    height: 5%;
    width: 100%;
    background-color: rgb(63, 172, 167);
}

main {
    height: 90%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    height: 5%;
    width: 100%;
    background-color: rgb(63, 172, 167);;
}

h1 {
    text-align: center;
}

h2, h3, p {
    margin-bottom: 5px;
}

.game-area {
    width: 80%;
    flex: 0 0 80%;
}

.rules {
    width: 20%;
    flex: 0 0 20%;
    box-sizing: border-box;
    text-align: center;
    padding: 25px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.25em;
}

.actual-game {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    height: 250px;
}

.btn-play {
    width: 150px;
    height: 150px;
    border: none;
    transition: 50ms;
    text-align: center;
    font-size: large;
    background-color: transparent;
    transition: 250ms;
}

.btn-play img {
    width: 100%;
}

.actual-game button:hover {
    transform: scale(1.2);
}

.actual-game button:active {
    transform: scale(1);
}

.scoreboard {
    position: relative;
    display: flex;
    width: 100%;
    font-size: large;
    text-decoration: underline;
}

.scoreboard div {
    width: 200px;
    margin: 0 auto;
}

.messageboard {
    position: relative;
    width: 100%;
    text-align: center;
    height: 50px;
    bottom: 2px;
    font-family: 'Chewy', Arial, Helvetica, sans-serif;
}

.select-game {
    width: 100%;
    height: 10%;
    margin: 0 auto;
    text-align: center;
    
}

.results {
    width: 100%;
    height: 250px;
    position: relative;
    display: grid;
    transition: 500ms;
}

.game-current {
    width: 100%;
    position: relative;

}

.game-current img {
    width: 75px;
}

.game-log {
    width: 100%;
    position: relative;
}

.game-log img {
    width: 50px;
}

.game-log-player-current {
    width: 33%;
    text-align: center;
    float: left;
}

.game-log-oponent-current {
    width: 33%;
    text-align: center;
    float: right;
}

.game-log-player {
    width: 33%;
    text-align: center;
    float: left;
}

.game-log-oponent {
    width: 33%;
    text-align: center;
    float: right;
}

.game-log-center {
    width: 33%;
    margin: 0 auto;
}

.reset-game-container {
    width: 10%;
    margin: 0 auto;
    text-align: center;    
}

.reset-game-container button {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    border: 1px orange solid;
    box-shadow: 0px 0px 10px rgb(0, 3, 3);
    margin-bottom: 25px;
    font-family: 'Chewy', Arial, Helvetica, sans-serif;
}

.reset-game-container button:hover {
    background-color: rgb(25, 69, 66);
    color: white;
}

.reset-game-container button:active {
    background-color: rgb(25, 69, 66);
    transform: translateY(4px);
  }

.game-btn {
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    background-color: rgb(63, 172, 167);
    font-family: 'Chewy', Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 10px rgb(0, 3, 3);
}

.game-btn:hover {
    background-color: rgb(25, 69, 66);
    color: white;
}

.game-btn:active {
    background-color: rgb(25, 69, 66);
    transform: translateY(4px);
  }
